#cs1300-gallery {
  background-color: lightblue;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
/*img {*/
/*  width: 500px;*/
/*}*/

.gallery-container {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.gallery-item{
  padding: 3rem;
  box-shadow: 0 0 1.38vw   0.34vw rgba(0, 0, 0, 0.15);
  background-color: dodgerblue;
}
body {
  background-color: lightblue;

}
